# ==== Python ====
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
*.manifest
*.spec

# ==== Entornos virtuales ====
venv/
.env/
.venv/

# ==== Jupyter Notebooks ====
.ipynb_checkpoints/

# ==== VS Code ====
.vscode/
.history/

# ==== Logs / temporales ====
*.log
*.tmp
*.swp
*.bak

# ==== Archivos de sistema (Windows / Mac) ====
Thumbs.db
desktop.ini
.DS_Store

# ==== OneDrive basura ====
~$*
